#portmap_head
{
	font-size:12px;
	width:inherit;
}
#portmap_head table
{
	width: 100%;
	border:0;
}
#portmap_head table tr
{
	text-align:center;
	height:35px;
}

#portmap_list
{
	font-size:12px;
	width:inherit;
}
#portmap_list table
{
	width: 100%;
	border:0;
}
#portmap_list table tr
{
	text-align:center;
	height:35px;
}
#table_head
{
	color: #888888;
}
#table_head td
{
	border-bottom:#dcdcdc solid 1px;
}
#portmap_list a:link, a:visited, a:hover
{
	color:#39ba93
}
.action_button
{
	width:160px;
	height:30px;
	border-radius: 3px;
	cursor: pointer;
	border:none;
	margin-left: 10px;
}
.action_white
{
	color:#39ba93;
	background:transparent;
	border: 1px solid;
}
.action_green
{
	background:#39ba93;
	color:#FFF;
}
#action_content
{
	text-align:right;
	margin-top:20px;
	width:inherit;
}